body {
    background-color: blanchedalmond;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d7a9fd;
}

td,
th {
    border: 1px solid #ffb5b5;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #86ff90;
}
#total {
    background-color: #d7a9fd;
    border-style: dashed;
    border-color: rgb(255, 0, 0);
}