body {
    font-family: Arial, sans-serif;
    background-color:aqua;
}
h1 {
    text-align: center;
    color: rgb(111, 0, 255);
}
#orderForm {
    background-color: #f57474;
    border: 4px dashed rgb(111, 0, 255);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    box-shadow: 10px 10px 5px #888888;
}
#deliveryCity {
    background-color: #ef9fff;
}
#orderForm {
    background-color: #9fffe2;
}
#birthday {
    background-color: #ef9fff;
}
#placeOrder {
    background-color: #ae00ff;
}
#typePizza {
    background-color: #ef9fff;
}
